body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f4f4f9;
}
header {
  background: #003366;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
}
nav a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}
.modulos {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.modulo-card {
  background: white;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}
.modulo-card:hover {
  background: #003366;
  color: white;
}
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
select:focus {
    border-color: #0066cc;
    outline: none;
}
form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
input, select, button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #0c4a6e;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0369a1;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #f9fafb;
}
th {
    background-color: #e2e8f0;
    text-align: left;
}
.flash-message {
  margin-top: 10px;
  text-align: center;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
}

.flash-message.danger {
  background-color: #f8d7da;
  color: #721c24;
}

.flash-message.warning {
  background-color: #fff3cd;
  color: #856404;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form label {
  font-weight: bold;
  margin-bottom: 2px;
}

.login-form input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-nuevo, .btn-volver {
  background-color: #6b7280;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  transition: background 0.2s;
}

.btn-nuevo:hover .btn-volver:hover {
  background-color: #4b5563;
}

input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

canvas {
  display: block;
  margin: 20px auto;
  max-width: 700px !important;  
  height: 300px !important;    
  width: 80% !important;         
}

h2, h3 {
  text-align: center;
}


