body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f4f4f9;
}
header {
  background: #003366;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
}
nav a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}
.modulos {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.modulo-card {
  background: white;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}
.modulo-card:hover {
  background: #003366;
  color: white;
}
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
select:focus {
    border-color: #0066cc;
    outline: none;
}