{% extends 'layout.html' %}
{% block content %}
<h2>Clientes</h2>
<form method="post" action="{{ url_for('clientes.nuevo_cliente') }}">
  <select name="tipoDocumento" required>
    <option value="" disabled selected>Seleccione tipo de documento</option>
    <option value="CC">Cédula de ciudadanía</option>
    <option value="CE">Cédula de extranjería</option>
    <option value="TI">Tarjeta de identidad</option>
    <option value="PA">Pasaporte</option>
    <option value="NIT">NIT</option>
</select>
  <input name="numeroDocumento" placeholder="Número Doc">
  <input name="nombre" placeholder="Nombre">
  <input name="apellido" placeholder="Apellido">
  <input name="correo" placeholder="Correo">
  <input name="celular" placeholder="Celular">
  <button type="submit">Agregar</button>
</form>

<hr>

<!--  Formulario de busqueda -->
<form action="{{ url_for('clientes.buscar_cliente') }}" method="post" style="margin-bottom:20px;">
    <input type="text" name="numeroDocumentoBuscar" placeholder="Buscar por número de documento" required>
    <button type="submit">Buscar</button>
</form>

<!-- Mostrar resultados -->
{% if cliente %}
<table border="1" cellpadding="6">
    <tr><th>ID</th><td>{{ cliente.idCliente }}</td></tr>
    <tr><th>Tipo Documento</th><td>{{ cliente.tipoDocumento }}</td></tr>
    <tr><th>Número Documento</th><td>{{ cliente.numeroDocumento }}</td></tr>
    <tr><th>Nombre</th><td>{{ cliente.nombre }}</td></tr>
    <tr><th>Apellido</th><td>{{ cliente.apellido }}</td></tr>
    <tr><th>Correo</th><td>{{ cliente.correo }}</td></tr>
    <tr><th>Celular</th><td>{{ cliente.celular }}</td></tr>
    <tr><th>Fecha Registro</th><td>{{ cliente.fechaRegistro }}</td></tr>
    <tr><th>Puntos Acumulados</th><td>{{ cliente.puntosAcumulados }}</td></tr>
</table>
{% endif %}

<!-- Mostrar mensajes flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}