{% extends "layout.html" %}
{% block content %}
<h2>Gestión de Empleados</h2>

<form method="POST" action="{{ url_for('empleados.nuevo_empleado') }}">
  <label>Nombre:</label>
  <input type="text" name="nombre" required>

  <label>Apellido:</label>
  <input type="text" name="apellido" required>

  <label>Rol:</label>
  <select name="rol" required>
    <option value="CAJERO">Cajero</option>
    <option value="ADMIN_INVENTARIO">Admin Inventario</option>
    <option value="GERENTE">Gerente</option>
  </select>

  <label>Correo:</label>
  <input type="email" name="correo" required>

  <label>Contraseña:</label>
  <input type="password" name="password" required>

  <label>ID Sucursal:</label>
  <input type="number" name="idSucursal" required>
  
  <button type="submit">Agregar empleado</button>
  

</form>

<h3>Empleados registrados</h3>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Rol</th>
      <th>Correo</th>
      <th>ID Sucursal</th>
    </tr>
  </thead>
  <tbody>
    {% for e in empleados %}
    <tr>
      <td>{{ e.idEmpleado }}</td>
      <td>{{ e.nombre }}</td>
      <td>{{ e.apellido }}</td>
      <td>{{ e.rol }}</td>
      <td>{{ e.correo }}</td>
      <td>{{ e.idSucursal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
