<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>SupermercadosApp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>SupermercadosApp</h1>

    {% if 'usuario_id' in session %}
    <nav>

      {# --- Opciones para CAJERO --- #}
      {% if session.get('rol') == 'CAJERO' %}
        | <a href="{{ url_for('ventas.listar_ventas') }}">Ventas</a>

      {# --- Opciones para ADMIN DE INVENTARIO --- #}
      {% elif session.get('rol') == 'ADMIN_INVENTARIO' %}
        | <a href="{{ url_for('productos.listar_productos') }}">Productos</a>

      {# --- Opciones para GERENTE --- #}
      {% elif session.get('rol') == 'GERENTE' %}
        | <a href="{{ url_for('empleados.listar_empleados') }}">Empleados</a>
        | <a href="{{ url_for('reportes.reportes') }}">Reportes</a>
      {% endif %}

      | <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
    </nav>
    {% endif %}
  </header>

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
